@charset "UTF-8";
/* CSS Document */


/*basic reset*/
/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

img 
{ 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #fff;
}

p
{
	background-color: #C8C8C8;
}

/*a:link is for not visited(standard unclicked link), 
a:visited is for visited, and just a applies to both.*/
/*a will also style anchor links*/

a:link, a:visited 
{ 
 	text-decoration:none; 	
}

a:hover, a:active 
{ 
	text-decoration:none; 
}

/*hide elements from browser but show for doc outline*/

.hidden
{
	display: none;
}

/*section is block level and no width specidied therefore stretches full screen*/

/*Site Container*/
/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 920 + 20px + 20px (960px) so it fits on 1024x768 screens.*/

#siteContainer 
{
	margin: 0 auto;
	width: 920px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}

/*This is a flex container*/
#mainHeader
{
	margin-top: 40px;
	padding-bottom: 0px;
	background-color: #FF6347;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

/*This is a flex item*/
#logo
{
	width: 200px;
	height: 200px;
	width: 220px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: -30px;
}

/*This is also a flex item*/
/*We use margin left auto to send it all the way to the right*/
#mainNav
{
	width: 500px;
	height: 25px;
	margin-top: 70px;
	margin-left: 120px;
}

#mainNav ul
{
	list-style-type: none;
	padding: 0;
}

#mainNav ul li
{
	display: inline;
	font-size: 20px;
	margin-left: 10px;
}

#mainNav ul li a
{
	color: #fff;
	padding: 5px;
	font-size: 20px;
}

#mainNav ul li a:hover
{
	color: #fff;
	padding: 5px;
}


#contact
{
	border: 1px solid #fff;
	padding: 5px 20px;
	border-radius: 3px;
	color: #fff;


}

.showcase
{
	height: 292px;
	background: url(../images/fire_place_2.jpg); 
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.showcase h1
{
	color: #fff;
	font-size: 40px;
	line-height: 1.6em;
	text-align: center;
	margin: -73px;
}




#promo 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
}

/*Get rid of this, here just to give different height to promo*/
#promo p 
{
	line-height: 250px;
}

#promoText 
{
	width: 280px;
	margin-right: auto;
}

#promoImage 
{
	margin: 0 auto;
	width: 600px;
}

#productInfo 
{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
	padding-bottom: 40px;
}

#productInfo img
{
	border-radius: 4%;
}

p 
{
	font-size: 12px;
	color: #333;
	line-height: 20px;
	background-color: #fff;
}

.productDesc li
{
	font-size: 12px;
	color: #333;
	line-height: 20px;
	background-color: #fff;
}

.productBut
{
	display: block;
	background-color: #FF6347;
	width: 140px;
	padding: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
}

.productBut:hover
{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.productBut:hover
{
	opacity: 10;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.productBut2
{
	display: block;
	background-color: #FF6347;
	width: 140px;
	/*padding: 10px;*/
	text-align: center;
	/*margin-right: auto;
	margin-left: auto;*/
	margin: 10px auto; 
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
}

.productBut2:hover
{

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.productBut2:hover
{
	opacity: 10;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.productDesc 
{
	width: 200px;

}

#mainFooter 
{
	height: 125px;
	background-color: #ccc;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

#logoFooter
{
	margin-top: -19px;
	padding-left: 20px;
}

#socialCon
{
	width: 50px;
	height: 100px;
}
    

#footerNav
{
	width: 300px;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	margin-bottom: 80px;
	text-align: center;
	margin-top: 15px; 
}

#footerNav ul
{
	padding: 0px;
	list-style-type: none; 
}

#footerNav ul li
{
	display: inline;
	margin-right: 25px;
	font-size: 12px;

}

#footerNav ul li a
{
	color: #333;
}

#footerNav ul li a:hover
{
	color: #999;
}


.copyRight
{
	height: 125px;
	display: inline;
	margin-left: 100px;
	font-size: 12px;
	text-align: center;
	margin-top: 40px;
}

.copyRight p
{
	background-color: #ccc;
	line-height: 12px;
}

/*Page 2 - Notice we are using one style sheet for all of the pages*/

#contentCon {
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}


#content1 
{
	width: 440px;
}

#content2 
{
	margin-left: auto;
	width: 440px;
}

/*Page 3*/

#productImages 
{
	margin-top: 40px;
	border-bottom: solid 1px #DDD;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

/*Get rid of this, here just to give different height*/
#productImages img
{
	line-height: 250px;
	border-radius: 48%;
}

.productImg 
{
	width: 280px;
	border-radius: 50%;
}



#promoImageBig
{
	width: 920px;
}


/*Page 4*/

.productDescLargeLeft 
{
	width: 410px;
}

.productDescLargeRight 
{
	width: 410px;
}

.titleAbout
{
	font-size: 22px;
	text-align: center;
}

/*Contact Page*/

#mainContact
{
	width: 940px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.mainContact h1
{
	font-size: 30px;
	color: #2073a8;
	background-color: #ddeff7;
	padding: 8px 0px 8px 5px;
	width: 940px;
	margin-bottom: 40px;
}

#contactArea
{
	width: 469px;
	border-right: solid 1px #ccc;
	margin-bottom: 30px;
}

.contactText
{
	font-size: 21px;
	margin-bottom: 30px;
	width: 340px;
}

input, textarea
{
	display: block;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 250px;
	border: 1px solid #999;
	background-color: #efefef;
}

#comments
{
	width: 360px;
	height: 30px;
}

#submit
{
	width: 75px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 30px;
	background-color: #2073a8;
	color: #fff;
	border: 1px solid #003471; 
}

#mapArea
{
	width: 380px;
	margin-left: 50px;
	margin-right: 50px;
}

#mapArea ul
{
	list-style-type: none;
	padding: 0px;
}

#mainContact h3 
{
	font-size: 21px;
	margin-top: 0px; 
	text-align: left;
}

.messageImp
{
	padding: 40px 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.gmap_canvas
{
	margin-right: -40px;
}

#socialCon img
{
	filter: grayscale(100%);
}

#socialCon img:hover
{
	filter: grayscale(0%);
}

#buttons
{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 20px;
	margin-bottom: 60px;
	margin-top: -50px;
}











